
[submodule "Continuous/V2Va_Parser"]
	path = Continuous/V2Va_Parser
	url = https://github.com/bgoenner/V2Va_Parser.git
[submodule "Continuous/component_library"]
	path = Continuous/component_library
	url = https://github.com/utah-MFDA/component_library.git
[submodule "Continuous/xyce_communication"]
	path = Continuous/xyce_communication
	url = https://gitlab.com/bgoenner/xyce_communication.git
