JupyterTests/
__pycache__/**
tests/__pycache__/**
ValveArray/__pycache__/**
*/__pycache__/**
*.pyc
*.cpython-38.pyc
vectorDebug
matrixDebug
debugLinSim
debugLinearSim
debugLinSim*
components.cpython-38.pyc
debug1*
dev1Graph*
