

# Time inputs
# SIM_TYPE PARAMETERS
sim_type thermal
transient 0.1m 1s


# input devices
# input PORT DEVICE PARAMETERS
input soln1 pressurePumpHT pressure=100k temperature=330
input soln2 pressurePumpHT pressure=100k temperature=310
input soln3 pressurePumpHT pressure=100k temperature=290


# chemical defintions
# chem NAME PORT CONCENTRATION *EXPECTED_CONCENTRATION*not supported*
chem H2O    soln1 100m
chem Tag    soln2 100m
chem Sample soln3 100m

# probe defintions
# probe pressure <node>
probe pressure conn2
probe pressure conn3

probe temperature conn3

# probe flow <device> <node>
#probe flow mix0 connect2
#probe flow mix1 connect6

# evaluation defintions
# eval chem time concentration node

eval H2O    0 out 33.3m
eval Tag    0 out 33.3m
eval Sample 0 out 33.3m

eval H2O    0 conn3 90m
eval Tag    0 conn3 39.6m
#eval Sample 0 connect2 0.014u

eval H2O    0 conn4 89.2m
eval Tag    0 conn4 39.6m
eval Sample 0 conn4 0.0175u

